@import "tailwindcss";

@theme {
	--breakpoint-xs: 30rem;
	--breakpoint-3xl: 120rem;
	--aspect-retro: 4 / 3;
	--container-4xs: 14rem;
	--container-8xl: 96rem;
	--font-sans_serif: DejaVuSans, "DejaVu Sans", arial, sans-serif;
	/*--font-monospace: DejaVuSansMono, "DejaVu Sans Mono", Consolas, Courier, monospace;*/
	--font-monospace: Consolas, monospace;
	--font-monospace_can_oblique: Courier, monospace;
	--font-weight-extrablack: 1000;
	--tracking-tightest: -0.075em;
	--color-regal-blue: #243c5a;
	--radius-5xl: 3rem;
	--shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
	--inset-shadow-md: inset 0 2px 3px rgba(0, 0, 0, 0.25);
	--text-shadow-xl: 0 35px 35px rgb(0, 0, 0 / 0.25);
	--blur-2xs: 2px;
	--drop-shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
	--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--animate-wiggle: wiggle 1s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}
	--perspective-remote: 1800px;
}
@theme inline{
	--text-restore: calc(var(--font-size-paragraph)*1rem);
	--text-restore--line-height: calc(var(--line-height-paragraph)*1em);
}

@layer base {
	*
	{
		@apply break-normal wrap-anywhere;
	}

	.heading1 {
		@apply my-[12px] text-[180%] leading-[1.5em];
	}
	.heading2 {
		@apply my-[12px] font-bold text-[140%] leading-[1.5em];
	}
	.heading3 {
		@apply my-[12px] font-bold text-[120%] leading-[1.5em];
	}
	.paragraph {
		@apply my-[6px];
	}

	a
	{
		@apply text-[#0000FF] bg-[#0000FF09];
		&:hover, &:hover *
		{
			@apply underline;
		}
	}

	form, fieldset, legend, .subform
	{
		@apply flex flex-col gap-y-[0.5em];
	}
	fieldset
	{
		@apply [border:groove_2px_#C0C0C0];
		@apply p-[0.5em];
	}
	legend
	{
		@apply [border:solid_1px_#000000];
		@apply p-[0.5em];
	}
	.form_item
	{
		@apply flex gap-x-[0.25em] items-baseline;
	}
	input[type="radio"], input[type="checkbox"]
	{
		@apply align-text-top;
	}
	textarea
	{
		@apply min-h-[2.5em];
	}
	input[type="text"], textarea
	{
		@apply [border:groove_2px_#C0C0C0];
		@apply p-[0.5em] block w-full;
		&:disabled
		{
			@apply bg-[#F0F0F0];
		}
		&:enabled
		{
			&:read-only
			{
				@apply bg-[#FAFAFA];
			}
			&:read-write
			{
				@apply bg-[#FFFFFF];
			}
			&.error_input
			{
				@apply bg-[#FF8888];
			}
			&.error_output
			{
				@apply bg-[#FF8888];
			}
		}
	}
	select[multiple]
	{
		@apply [border:groove_2px_#C0C0C0];
	}
	input[type="button"], button
	{
		@apply [border:outset_2px_#C0C0C0];
		@apply p-[0.5em];
		&:disabled
		{
			@apply bg-[#F0F0F0];
		}
		&:enabled
		{
			&:not(:active)
			{
				@apply bg-[#F0F0F0];
			}
			&:active
			{
				@apply [border:inset_2px_#C0C0C0];
				@apply bg-[#F0F0F0];
			}
		}
	}
	fieldset:disabled > *:not(legend), input[type="text"]:disabled, textarea:disabled, label:has(+ input[type="text"]:disabled, + textarea:disabled), :is(input[type="checkbox"]:disabled, input[type="radio"]:disabled) + label, :is(input[type="checkbox"]:disabled, input[type="radio"]:disabled) + div > label:first-child
	{
		@apply text-[#C0C0C0];
	}

	pre
	{
		@apply overflow-auto max-h-[60vh];
	}

	.popover_bottom_right
	{
		@apply m-0 [inset:unset] [left:calc(anchor(right)_+_4px)] [top:calc(anchor(bottom)_+_4px)];
	}
	@position-try --popover_bottom_right
	{
		@apply m-0 [inset:unset] [left:calc(anchor(right)_+_4px)] [top:calc(anchor(bottom)_+_4px)];
	}
	@position-try --popover_bottom_left
	{
		@apply m-0 [inset:unset] [right:calc(anchor(left)_+_4px)] [top:calc(anchor(bottom)_+_4px)];
	}
	@position-try --popover_top_left
	{
		@apply m-0 [inset:unset] [right:calc(anchor(left)_+_4px)] [bottom:calc(anchor(top)_+_4px)];
	}
	@position-try --popover_top_right
	{
		@apply m-0 [inset:unset] [left:calc(anchor(right)_+_4px)] [bottom:calc(anchor(top)_+_4px)];
	}
}

@layer components {
	.external_link
	{
		@apply text-[#BA0000];
		@apply opacity-40;
	}

	.inline_code
	{
		@apply font-monospace;
		@apply whitespace-break-spaces;

		@apply inline border-[1px] border-[#D6D6D6] bg-[#000000]/[0.031] [padding-block:0.5px] [padding-inline:2px] leading-[calc((var(--line-height-paragraph)_+_0.25)*1em)];
	}

	.command
	{
		@apply font-monospace_can_oblique;
		@apply whitespace-break-spaces;
		@apply bg-[#E8E7DD];
	}
	.command_input
	{
		@apply font-monospace_can_oblique;
	}
	.command_link
	{
		@apply text-[#0000FF];
	}
	.concept_link
	{
		@apply text-[#BA0000];
	}
	.concept_link:visited
	{
		@apply text-[#A349A4];
	}
	.github_link:before
	{
		background-image:url("data:image/svg+xml,%3Csvg width='98' height='96' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z' fill='%2324292f'/%3E%3C/svg%3E");
		@apply content-[""] bg-center bg-no-repeat bg-contain inline-block h-[1em] w-[calc(1em/96*98)] align-[-10%];
	}
}

@utility highlight_yellow
{
	@apply bg-[#FFFF00]/[0.8];
}
@utility highlight_bold
{
	@apply font-bold;
}
